.wrapper {
  padding: 16rpx 32rpx;
}

.search-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 32rpx 32rpx 48rpx 32rpx;
  box-sizing: border-box;
  border-top: 1px solid #cccccc;

  .search-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    height: 110rpx;
    box-sizing: border-box;
    border: 2px solid rgba(18, 18, 18, 0.8);

    input {
      flex: 1;
      height: 100%;
      padding: 32rpx 0 32rpx 32rpx;
    }

    .tools {
      display: flex;
      align-items: center;

      .clear-button {
        width: 48rpx;
        height: 48rpx;
        padding: 32rpx;
      }
    }
  }
}
